[user]
	name = Ryan Holmes
	email = holmes.ryan.m@gmail.com
[core]
	editor = emacs
	excludesfile = /home/561/rmh561/.gitignore_global
[color]
	ui = true
[diff]
	tool = tkdiff
[difftool]
	prompt = false
