[user]
	name = Ryan Holmes
	email = holmes.ryan.m@gmail.com
[core]
	editor = emacs
	excludesfile = /home/z3500785/.gitignore_global
	filemode = false
	autocrlf = true
[color]
	ui = true
[diff]
	tool = tkdiff
[difftool]
	prompt = false
[push]
	default = simple
[alias]
    wdiff = diff --color-words
[diff "jupyternotebook"]
	command = git-nbdiffdriver diff
[merge "jupyternotebook"]
	driver = git-nbmergedriver merge %O %A %B %L %P
	name = jupyter notebook merge driver
[difftool "nbdime"]
	cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\" \"$BASE\"
[mergetool "nbdime"]
	cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool]
	prompt = false
