[gui]
[gui]
	recentrepo = C:/Users/Ryan Holmes/Research/Write_Ups/Kelvin_Waves_and_TIWs_2016HolmesJPO
[user]
	name = Ryan Holmes
	email = holmes.ryan.m@gmail.com
[core]
	editor = emacs
	excludesfile = C:/Users/Ryan Holmes/.gitignore_global
	filemode = False
[color]
	ui = true
[diff]
	tool = tkdiff
[difftool]
	prompt = false
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[push]
	default = simple
[alias]
        wdiff = diff --color-words
